html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-style: inherit;
  font-family: Roboto, sans-serif;
  background-color: #fff;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  color: #2196f3;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.container {
  width: 1600px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

p,
h1,
h2,
h3,
ul,
li {
  margin: 0px;
  padding: 0px;
}

section {
  padding: 0;
  margin: 0;
}

header {
  border-bottom: 1px solid #ececec;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px;
}

.header__menu-button {
  fill: #2f303a;
}

.header__menu-button .icon-cross {
  display: none;
}

.header__menu-button.is-open .icon-cross {
  display: block;
}

.header__menu-button.is-open .icon-menu {
  display: none;
}

@media screen and (min-width: 480px) {
  .header__phone-menu {
    display: none;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  text-decoration: none;
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  letter-spacing: 0.03em;
}

.header__logo-black {
  color: #212121;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

@media screen and (min-width: 480px) {
  .header__nav-list {
    display: none;
  }
}

.header__nav-members {
  list-style: none;
  margin-left: 90px;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  list-style: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: 0.02em;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .header__contacts {
    display: none;
  }
}

.header__members:not(:last-child) {
  margin-right: 50px;
}

@media screen and (min-width: 768px) {
  .header__members:not(:last-child) {
    margin-bottom: 10px;
  }
}

.header__link {
  text-decoration: none;
  color: #212121;
}

.header__link:hover, .header__link:focus {
  color: #2196f3;
  -webkit-transition: 250ms 250ms;
  transition: 250ms 250ms;
}

.header__contacts__link {
  text-decoration: none;
  color: #757575;
  fill: #757575;
}

.header__contacts__link:hover, .header__contacts__link:focus {
  color: #2196f3;
  -webkit-transition: 250ms 250ms;
  transition: 250ms 250ms;
}

.header__contacts .header__contacts__link:hover,
.header__contacts .header__contacts__link:focus {
  fill: #2196f3;
  color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  position: relative;
}

.current::after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  bottom: -31px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #2196f3;
}

.section-hero {
  background: url("../images/background-photo.jpg") rgba(47, 48, 58, 0.4);
  max-width: 1600px;
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 0px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-top: 200px;
}

@media screen and (min-width: 768px) {
  .section-hero {
    width: 768px;
  }
}

@media screen and (min-width: 480px) {
  .section-hero {
    width: 480px;
    padding-top: 118px;
  }
}

.section-hero__title {
  color: #fff;
  font-style: normal;
  font-size: 44px;
  line-height: 136%;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .section-hero__title {
    font-size: 26px;
    line-height: 162%;
  }
}

.section-hero__button {
  background-color: #2196f3;
  padding: 6px 22px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 187%;
  border: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.section-advantages {
  padding-top: 94px;
}

.section-advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

@media screen and (min-width: 480px) {
  .section-advantages__list {
    display: block;
    width: 450px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .section-advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.section-advantages__members:not(:last-child) {
  margin-right: 30px;
}

@media screen and (min-width: 480px) {
  .section-advantages__members:not(:last-child) {
    margin-bottom: 30px;
    margin-right: 0;
  }
  .section-advantages__members:last-child {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .section-advantages__members:last-child {
    margin-bottom: 60px;
  }
}

.section-advantages__title {
  color: #212121;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-advantages__main-text {
  color: #757575;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
}

.section-advantages__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  fill: #757575;
}

.section-our-services {
  padding: 94px 0px;
}

@media screen and (min-width: 480px) {
  .section-our-services {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .section-our-services {
    display: none;
  }
}

.section-our-services__title {
  color: #212121;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 117%;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.section-our-services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-our-services__img {
  width: 370px;
  height: auto;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.section-our-services__img:not(:first-child) {
  margin-left: 30px;
}

.section-our-services__description-block {
  position: relative;
}

.section-our-services__description-text {
  position: absolute;
  width: 100%;
  min-height: 70px;
  left: 0;
  bottom: 0;
  text-align: center;
  padding: 27px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  background: rgba(47, 48, 58, 0.8);
}

.section-team {
  background-color: #f5f4fa;
  border: 0px;
  padding: 94px 0px;
}

.section-team__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 117%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.section-team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 480px) {
  .section-team__list {
    display: block;
  }
}

.section-team__members {
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section-team__members:not(:first-child) {
  margin-left: 30px;
}

@media screen and (max-width: 480px) {
  .section-team__members {
    margin-left: 0;
  }
  .section-team__members:not(:first-child) {
    margin-left: 0;
  }
  .section-team__members img {
    width: 100%;
  }
}

.section-team__text-block {
  margin: 30px 0px;
}

.section-team__name {
  color: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 119%;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
}

.section-team__proffesion {
  color: #757575;
  text-align: center;
  margin-bottom: 16px;
}

/* ICONS */
.section-team__contacts {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-team__contacts:not(:last-child) {
  margin-right: 10px;
}

.section-team__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-team__link:hover, .section-team__link:focus {
  background: #2196f3;
}

.section-team__link:hover .section-team__icon,
.section-team__link:hover .section-team__icon {
  fill: #fff;
}

@media screen and (min-width: 480px) {
  .section-team__link {
    margin-bottom: 30px;
  }
}

.section-team__icon {
  fill: #afb1b8;
}

.section-clients {
  background-color: #fff;
  border: 0px;
  padding: 94px 0px;
  text-align: center;
}

.section-clients__title {
  color: #212121;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 50px;
}

.section-clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .section-clients__link {
    margin: 15px;
  }
}

.section-clients__members:not(:last-child) {
  margin-right: 30px;
}

@media screen and (min-width: 480px) {
  .section-clients__members:not(:last-child):not(:last-child) {
    margin-right: 0;
  }
}

.section-clients__logos {
  fill: #afb1b8;
}

.section-clients__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-clients__list a:hover,
.section-clients__list a:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.section-clients__list a:hover .section-clients__logos,
.section-clients__list a:focus .section-clients__logos {
  fill: #2196f3;
  border-color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .section-clients__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

footer {
  background-color: #2f303a;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 480px) {
  footer .container {
    display: block;
    text-align: center;
  }
}

.footer__block {
  padding: 60px 0px 60px;
}

.footer__logo {
  color: #2196f3;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 119%;
  letter-spacing: 0.03em;
  padding-bottom: 20px;
}

.footer__logo-white {
  color: #fff;
}

.footer__address-block:not(:last-child) {
  margin-bottom: 9px;
}

.footer__address-block:not(:last-child):first-child {
  margin-top: 20px;
}

.footer__address {
  font-style: normal;
  font-weight: normal;
  color: #fff;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
}

.footer__link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}

.footer__link:hover, .footer__link:focus {
  color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-join-us {
  margin-left: 70px;
  padding: 72px 0 0;
}

@media screen and (min-width: 480px) {
  .section-join-us {
    margin-left: 0;
    padding: 0;
  }
}

.section-join-us__title {
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.section-join-us__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

@media screen and (min-width: 480px) {
  .section-join-us__contacts {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 60px;
  }
}

.section-join-us__members:not(:last-child) {
  margin-right: 10px;
}

.section-join-us__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-join-us__link:hover, .section-join-us__link:focus {
  background: #2196f3;
}

.section-join-us__icon {
  fill: #fff;
}

.follow-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 72px;
  margin-left: 93px;
}

@media screen and (max-width: 480px) {
  .follow-form {
    margin-left: 0;
    padding-top: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.follow-form__title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.follow-form__button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 480px) {
  .follow-form__button-group {
    display: block;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.follow-form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 358px;
  height: 50px;
  left: 815px;
  top: 2787px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #fff;
}

@media screen and (min-width: 480px) {
  .follow-form__input {
    margin-bottom: 20px;
    left: 0;
    top: 0;
  }
}

.follow-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 62px;
  background: #2196f3;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 187%;
  margin-left: 12px;
  padding-left: 29px;
  padding-right: 28px;
  letter-spacing: 0.06em;
  color: #fff;
}

.follow-form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: normal;
  padding-left: 16px;
  letter-spacing: 0.03em;
}

.follow-form__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  fill: #fff;
  margin-left: 20px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal-window {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  opacity: 0;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  padding: 41px 40px 39px 40px;
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window__title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-window__lable {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-window__input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-top: 4px;
  padding-left: 42px;
  outline: none;
}

.modal-window__lable:hover .modal-window__input {
  border: 1px solid #2196f3;
  border-radius: 4px;
  fill: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window__input:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window__input:focus + .modal-window__icon {
  fill: #2196f3;
}

.modal-window__icon {
  position: absolute;
  top: 30px;
  left: 15px;
  fill: #212121;
}

.modal-window__lable:hover .modal-window__icon,
.modal-window__lable:focus .modal-window__icon {
  fill: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window__text-place-block textarea {
  resize: none;
  width: 448px;
  height: 120px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  margin-top: 4px;
  outline: none;
}

.modal-window__text-place-block textarea:hover,
.modal-window__text-place-block textarea:focus {
  border: 1px solid #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window__policy {
  display: block;
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 171%;
  padding-left: 41px;
  margin-bottom: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-window__check-icon {
  position: absolute;
  top: 4px;
  left: 16px;
  width: 16px;
  height: 15px;
  opacity: 1;
}

.modal-window__check-icon-ative {
  position: absolute;
  top: 4px;
  left: 16px;
  width: 16px;
  height: 15px;
  opacity: 0;
  background-color: #2196f3;
  border-radius: 2px;
}

.modal-window__checkbox {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modal-window__checkbox:checked + .modal-window__checkbox {
  opacity: 0;
}

.modal-window__checkbox:checked ~ .modal-window__check-icon-ative {
  opacity: 1;
}

.modal-window__link {
  text-decoration: underline;
  color: #2196f3;
}

.modal-window__button-send {
  display: block;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  color: #fff;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.modal-window__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal-window__button-close:hover,
.modal-window__button-close:focus {
  fill: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-works-gallery {
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}

.section-works-gallery__block {
  padding: 94px 0px;
}

.visually-hidden {
  display: none;
}

.section-works-gallery__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.section-works-gallery__button {
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  margin-right: 8px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-works-gallery__button:hover, .section-works-gallery__button:focus {
  color: #fff;
  background-color: #2196f3;
}

.section-works-gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: calc(-1 * 30px);
  margin-top: calc(-1 * 30px);
}

.section-works-gallery__members {
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  width: 370px;
  background: 250ms;
}

.section-works-gallery__members:focus, .section-works-gallery__members:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.section-works-gallery__members:hover .section-works-gallery__about {
  opacity: 1;
  -webkit-transform: translate(0%);
          transform: translate(0%);
}

.section-works-gallery__card-content {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.section-works-gallery__name {
  color: #212121;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  text-align: left;
}

.section-works-gallery__type {
  color: #757575;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  margin-top: 4px;
}

.section-works-gallery__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}

.section-works-gallery__img:hover .section-works-gallery__about,
.section-works-gallery__img:hover .section-works-gallery__about {
  opacity: 1;
}

.section-works-gallery__about {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #fff;
}

.section-works-gallery__img:hover .section-works-gallery__about,
.section-works-gallery__img:hover .section-works-gallery__about {
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */