$main-background-color: #fff;
$second-background-color: #2f303a;
$icons-background-color: #f5f4fa;

$icons-color: #afb1b8;
$accent-color: #2196f3;

$titels-color: #212121;
$text-color: #757575;
$invers-titels-color: #fff;

$hover-transition-time: 250ms;
$hover-animation: cubic-bezier(0.4, 0, 0.2, 1);

$inside-section-paddings: 94px;
$inside-section-margin: 15px;

$second-font-for-text: Raleway, sans-serif;

$phone-width: 480px;
$tablet-width: 768px;
$desktop-width: 1600px;
