.section-team {
  background-color: $icons-background-color;
  border: 0px;
  padding: $inside-section-paddings 0px;
}
.section-team__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 117%;
  text-align: center;
  letter-spacing: 0.03em;
  color: $titels-color;
  margin-bottom: 50px;
}
.section-team__list {
  display: flex;
  list-style: none;
}
.section-team__members {
  background-color: $main-background-color;

  width: 270px;
  margin-left: 30px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:not(:first-child) {
    margin-left: 30px;
  }
}
.section-team__text-block {
  margin: 30px 0px;
}
.section-team__name {
  color: $titels-color;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 119%;

  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
}
.section-team__proffesion {
  color: $text-color;
  text-align: center;
  margin-bottom: 16px;
}
/* ICONS */
.section-team__contacts {
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: center;
  list-style: none;
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.section-team__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: $hover-transition-time $hover-animation;
  &:hover,
  &:focus {
    background: $accent-color;
  }
  &:hover .section-team__icon,
  &:hover .section-team__icon {
    fill: $main-background-color;
  }
}

.section-team__icon {
  fill: $icons-color;
}
