footer {
  background-color: $second-background-color;
}

footer .container {
  display: flex;
}

.footer__block {
  padding: 60px 0px 60px;
}

.footer__logo {
  color: $accent-color;
  text-decoration: none;
  font-family: $second-font-for-text;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 119%;

  letter-spacing: 0.03em;
  padding-bottom: 20px;
}

.footer__logo-white {
  color: $invers-titels-color;
}

.footer__address-block:not(:last-child) {
  margin-bottom: 9px;

  &:first-child {
    margin-top: 20px;
  }
}

.footer__address {
  font-style: normal;
  font-weight: normal;
  color: $invers-titels-color;
  font-size: 14px;
  line-height: 171%;

  letter-spacing: 0.03em;
}

.footer__link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 171%;

  letter-spacing: 0.03em;

  color: $text-color;
  &:hover,
  &:focus {
    color: $accent-color;
    transition: $hover-transition-time $hover-animation;
  }
}
