header {
  border-bottom: 1px solid #ececec;
}

header .container {
  display: flex;
  background-color: $main-background-color;
  align-items: center;
  height: 80px;
}

.header__menu-button {
  fill: $second-background-color;
  background-color: $main-background-color;
  position: absolute;
  right: 23px;
  top: 22px;

  @media screen and (min-width: $tablet-width) {
    display: none;
  }

  &::hover,
  &::hover {
    fill: $accent-color;
  }
}

.header__menu-button .icon-cross {
  display: none;
}

.header__menu-button.is-open .icon-cross {
  display: block;
}

.header__menu-button.is-open .icon-menu {
  display: none;
}

.header__phone-menu {
  @media screen and (max-width: $tablet-width) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // height: 796px;

    padding: 48px 40px;

    list-style: none;

    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;

    background-color: $main-background-color;
  }

  &.is-open {
    display: block;
  }
  @media screen and (min-width: $tablet-width) {
    display: flex;
  }
}
// .header__nav {
//   // display: flex;
// }

.header__logo {
  text-decoration: none;
  color: $accent-color;

  font-family: $second-font-for-text;
  font-size: 24px;
  letter-spacing: 0.03em;

  @media screen and (min-wight: $desktop-width) {
    font-size: 26px;
  }
}

.header__logo-black {
  color: $titels-color;
}

.header__nav-list {
  @media screen and (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-items: center;
  }

  @media screen and(min-width:$desktop-width) {
  }
}

.header__nav-members {
  list-style: none;
  text-align: center;
  align-items: center;
  margin-bottom: 32px;
  color: $titels-color;

  @media screen and(min-width: $tablet-width) {
    margin-left: 50px;
    margin-bottom: 0;

    font-size: 14px;
    line-height: 16px;

    &:first-child {
      margin-left: 88px;
    }

    &:last-child {
      margin-right: 84px;
    }
  }

  @media screen and (min-width: $desktop-width) {
    &:first-child {
      margin-left: 93px;
    }

    &:last-child {
      margin-right: 331px;
    }
  }
}

.header__contacts {
  list-style: none;
  line-height: 40px;
  margin-bottom: 32px;
  color: $text-color;

  &:last-child {
    margin-bottom: 64px;
  }

  @media screen and (min-width: $tablet-width) {
    list-style: none;
    position: relative;

    margin-left: auto;
    margin-bottom: 0;

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 114%;
    letter-spacing: 0.02em;
  }

  @media screen and (min-width: $desktop-width) {
    display: flex;
    font-size: 14px;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}
.header__icon {
  @media screen and (max-width: $tablet-width) {
    display: none;
  }
}
.header__members {
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: $desktop-width) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.header__link {
  text-decoration: none;
  color: $titels-color;

  &:hover,
  &:focus {
    color: $accent-color;
    transition: $hover-transition-time $hover-transition-time;
  }
}

.header__contacts__link {
  text-decoration: none;
  color: $text-color;
  fill: $text-color;

  &:hover,
  &:focus {
    color: $accent-color;
    transition: $hover-transition-time $hover-transition-time;
  }

  .header__contacts &:hover,
  .header__contacts &:focus {
    fill: $accent-color;
    color: $accent-color;
    transition: $hover-transition-time $hover-animation;
  }
}

.phone-menu__social-link {
  display: none;
  @media screen and (max-width: $tablet-width) {
    display: flex;
    list-style: none;

    color: $accent-color;

    font-weight: 500;
    font-size: 18px;
    line-height: 122%;

    letter-spacing: 0.02em;

    &:not(:last-child) {
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
  }
}

.phone-menu__social-link {
  margin: 0 5px;
  padding-right: 10px;
}

.current {
  @media screen and(min-width:$tablet-width) {
    position: relative;

    &::after {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      bottom: -35px;

      width: 100%;
      height: 4px;
      border-radius: 2px;
      background: $accent-color;
    }
  }
}
