.section-our-services {
  padding: $inside-section-paddings 0px;

  @media screen and (max-width: $phone-width) {
    display: none;
  }

  @media screen and (max-width: $tablet-width) {
    display: none;
  }
}

.section-our-services__title {
  color: $titels-color;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 117%;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.section-our-services__list {
  display: flex;
  list-style: none;
  justify-content: center;
}

.section-our-services__img {
  width: 370px;
  height: auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  &:not(:first-child) {
    margin-left: 30px;
  }
}

.section-our-services__description-block {
  position: relative;
}

.section-our-services__description-text {
  position: absolute;
  width: 100%;
  min-height: 70px;

  left: 0;
  bottom: 0;

  text-align: center;
  padding: 27px;

  font-style: normal;
  font-weight: bold;

  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $invers-titels-color;
  background: rgba(47, 48, 58, 0.8);
}
