.section-hero {
  background: url('../images/background-photo.jpg') rgba(47, 48, 58, 0.4);
  max-width: 1600px;
  min-height: 400px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  border: 0px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-top: 200px;

  @media screen and (max-width: $tablet-width) {
    width: $tablet-width;
  }
  @media screen and (max-width: $phone-width) {
    width: $phone-width;
    padding-top: 118px;
  }
}

.section-hero__title {
  color: $invers-titels-color;

  font-style: normal;
  font-size: 44px;
  line-height: 136%;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  margin-bottom: 30px;

  @media screen and (max-width: $phone-width) {
    // font-weight: 900;
    font-size: 26px;
    line-height: 162%;
  }
}

.section-hero__button {
  background-color: $accent-color;
  padding: 6px 22px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: $invers-titels-color;
  box-sizing: border-box;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 187%;

  border: 0px;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
