.section-clients {
  background-color: $main-background-color;
  border: 0px;
  padding: $inside-section-paddings 0px;
  text-align: center;
}
.section-clients .container {
  padding: 0;
}
.section-clients__title {
  color: $titels-color;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 50px;
}
.section-clients__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;

  & a:hover,
  & a:focus {
    fill: $accent-color;
    border-color: $accent-color;
  }
  & a:hover .section-clients__logos,
  & a:focus .section-clients__logos {
    fill: $accent-color;
    border-color: $accent-color;
    transition: $hover-transition-time $hover-animation;
  }
}
.section-clients__members {
  margin: $inside-section-margin;
  flex-basis: calc(100% / 2 - 30px);
  @media screen and (min-width: $tablet-width) {
    flex-basis: calc(100% / 3 - 30px);
  }
  @media screen and (min-width: $desktop-width) {
    flex-basis: calc(100% / 6 - 30px);
  }
}
.section-clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  width: 100%;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: $hover-transition-time $hover-animation;
}
.section-clients__logos {
  fill: $icons-color;
}
